In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Dataframe for milk

In [2]:
baseurl = 'https://chaldal.com/liquid-uht-milk'
r = requests.get(baseurl)
soup = bs(r.content, 'lxml')
products = soup.find_all('div', class_='product')

In [3]:
product = []
amount = []
price = []

for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price.append(j.text)

In [4]:
productlist = {'Product':product, 'Quantity':amount, 'Price':price}
df = pd.DataFrame(productlist)
df.head()

                                   Product Quantity Price
0                    Milk Vita Liquid Milk    1 ltr  ৳ 70
1      Aarong Dairy Full Cream Liquid Milk    1 ltr  ৳ 70
2          Aarong Dairy UHT Chocolate Milk   200 ml  ৳ 25
3                            PRAN UHT Milk    1 ltr  ৳ 90
4  Aarong Dairy UHT Full Cream Liquid Milk   500 ml  ৳ 45

In [5]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-milk.csv', index=False)

# Dataframe for butter

In [6]:
baseurl2 = 'https://chaldal.com/butter-sour-cream'
r2 = requests.get(baseurl2)
soup2 = bs(r2.content, 'lxml')
products2 = soup2.find_all('div', class_='product')

In [7]:
product2 = []
amount2 = []
price2 = []

for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price2.append(j.text)

In [8]:
productlist2 = {'Product':product2, 'Quantity':amount2, 'Price':price2}
df2 = pd.DataFrame(productlist2)
df2.head()

                     Product Quantity  Price
0        Aarong Dairy Butter   200 gm  ৳ 185
1    Amul Pasteurised Butter   200 gm  ৳ 355
2        Amul Butter Blister   10 pcs  ৳ 200
3  Amul Choco Buttery Spread   200 gm  ৳ 260
4         Amul Salted Butter   200 gm  ৳ 350

In [9]:
df2.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-butter.csv', index=False)

# Dataframe for cheese

In [10]:
baseurl3 = 'https://chaldal.com/cheese-2'
r3 = requests.get(baseurl3)
soup3 = bs(r3.content, 'lxml')
products3 = soup3.find_all('div', class_='product')

In [11]:
product3 = []
amount3 = []
price3 = []

for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price3.append(j.text)

In [12]:
productlist3 = {'Product':product3, 'Quantity':amount3, 'Price':price3}
df3 = pd.DataFrame(productlist3)
df3.head()

                                             Product Quantity  Price
0                         Goodlife Mozzarella Cheese   200 gm  ৳ 150
1                            Aarong Austogram Cheese   200 gm  ৳ 150
2                                  PRAN Dhaka Cheese   225 gm  ৳ 150
3  Melbourne Sandwich Sliced Cheese 200 gm (12 sl...           ৳ 260
4                                Aarong Dairy Paneer   200 gm  ৳ 160

In [13]:
df3.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-cheese.csv', index=False)

# Dataframe for milk powder

In [15]:
baseurl4 = 'https://chaldal.com/milk-cream'
r4 = requests.get(baseurl4)
soup4 = bs(r4.content, 'lxml')
products4 = soup4.find_all('div', class_='product')

In [16]:
product4 = []
amount4 = []
price4 = []

for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price4.append(j.text)

In [17]:
productlist4 = {'Product':product4, 'Quantity':amount4, 'Price':price4}
df4 = pd.DataFrame(productlist4)
df4.head()

                                             Product Quantity  Price
0                       Danish Condensed Filled Milk   397 gm   ৳ 60
1  Diploma Full Cream Milk Powder (Free Farmland ...   500 gm  ৳ 330
2                  Arla Dano Daily Pusti Milk Powder     1 kg  ৳ 450
3                  Arla Dano Daily Pusti Milk Powder   500 gm  ৳ 240
4  Nestlé NIDO 1+ Growing Up Milk Powder BIB (1-3...   350 gm  ৳ 360

In [18]:
df4.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-milk-powder.csv', index=False)

# Dataframe for yogurt

In [19]:
baseurl5 = 'https://chaldal.com/yogurt'
r5 = requests.get(baseurl5)
soup5 = bs(r5.content, 'lxml')
products5 = soup5.find_all('div', class_='product')

In [20]:
product5 = []
amount5 = []
price5 = []

for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price5.append(j.text)

In [21]:
productlist5 = {'Product':product5, 'Quantity':amount5, 'Price':price5}
df5 = pd.DataFrame(productlist5)
df5.head()

                              Product Quantity Price
0            Aarong Dairy Sour Yogurt   500 ml  ৳ 80
1            Danish Ayran Sour Yogurt   500 ml  ৳ 80
2  Aarong Dairy Low Fat Yogurt (Sour)   500 gm  ৳ 80
3                   PRAN Sweet Yogurt   100 gm  ৳ 20
4                 Milk Vita Sour Curd   500 ml  ৳ 80

In [22]:
df5.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-yogurt.csv', index=False)