In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Dataframe for chips

In [2]:
baseurl = 'https://chaldal.com/chips-pretzels'
r = requests.get(baseurl)
soup = bs(r.content, 'lxml')
products = soup.find_all('div', class_='product')

In [3]:
product = []
amount = []
price = []

for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price.append(j.text)

In [4]:
productlist = {'Product':product, 'Quantity':amount, 'Price':price}
df = pd.DataFrame(productlist)
df.head()

                                         Product Quantity Price
0                        Bombay Sweets Mr. Twist    22 gm  ৳ 15
1                  Bombay Sweets Potato Crackers    22 gm  ৳ 10
2                       Bombay Sweets Ring Chips    22 gm  ৳ 10
3  Bombay Sweets Cheese Ball Cheezee Corn Snacks    20 gm  ৳ 10
4                        Sun Chips Salt & Pepper    22 gm  ৳ 15

In [5]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-chips.csv', index=False)

# Dataframe for noodles

In [6]:
baseurl2 = 'https://chaldal.com/noodles'
r2 = requests.get(baseurl2)
soup2 = bs(r2.content, 'lxml')
products2 = soup2.find_all('div', class_='product')

In [7]:
product2 = []
amount2 = []
price2 = []

for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price2.append(j.text)

In [8]:
productlist2 = {'Product':product2, 'Quantity':amount2, 'Price':price2}
df2 = pd.DataFrame(productlist2)
df2.head()

                                       Product Quantity  Price
0                           Cocola Egg Noodles   180 gm   ৳ 18
1  Nestlé MAGGI 2-Minute Noodles Masala 8 Pack   496 gm  ৳ 135
2    Nestlé MAGGI Masala Blast Noodles 8 Packs   504 gm  ৳ 140
3                Cocola Chicken Masala Noodles   180 gm   ৳ 20
4               Cocola Hot & Spicy Cup Noodles    40 gm   ৳ 25

In [9]:
df2.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-noodles.csv', index=False)

# Dataframe for pasta

In [10]:
baseurl3 = 'https://chaldal.com/pasta-macaroni'
r3 = requests.get(baseurl3)
soup3 = bs(r3.content, 'lxml')
products3 = soup3.find_all('div', class_='product')

In [11]:
product3 = []
amount3 = []
price3 = []

for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price3.append(j.text)

In [12]:
productlist3 = {'Product':product3, 'Quantity':amount3, 'Price':price3}
df3 = pd.DataFrame(productlist3)
df3.head()

                       Product Quantity  Price
0        Kolson Macaroni Shell   400 gm   ৳ 65
1       Bashundhara Tube Pasta   500 gm   ৳ 80
2  Pasta Hat Macaroni (Rigate)   500 gm  ৳ 130
3       Kolson Macaroni Bamboo   400 gm   ৳ 65
4          Pasta Hat Spaghetti   500 gm  ৳ 130

In [13]:
df3.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-pasta.csv', index=False)

# Dataframe for soup

In [14]:
baseurl4 = 'https://chaldal.com/soups'
r4 = requests.get(baseurl4)
soup4 = bs(r4.content, 'lxml')
products4 = soup4.find_all('div', class_='product')

In [15]:
product4 = []
amount4 = []
price4 = []

for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price4.append(j.text)

In [16]:
productlist4 = {'Product':product4, 'Quantity':amount4, 'Price':price4}
df4 = pd.DataFrame(productlist4)
df4.head()

                                             Product Quantity  Price
0                                    Knorr Thai Soup    28 gm   ৳ 40
1                    Knorr Soup Hot and Sour Chicken    31 gm   ৳ 40
2                                 Knorr Chicken Cube    20 gm   ৳ 30
3                            Knorr Soup Chicken Corn    24 gm   ৳ 40
4  Nestlé MAGGI Healthy Soup Corn With Chicken Fl...    4 pcs  ৳ 160

In [17]:
df4.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-soup.csv', index=False)

# Dataframe for candy

In [19]:
baseurl5 = 'https://chaldal.com/candy-chocolate'
r5 = requests.get(baseurl5)
soup5 = bs(r5.content, 'lxml')
products5 = soup5.find_all('div', class_='product')

In [20]:
product5 = []
amount5 = []
price5 = []

for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price5.append(j.text)

In [21]:
productlist5 = {'Product':product5, 'Quantity':amount5, 'Price':price5}
df5 = pd.DataFrame(productlist5)
df5.head()

                                   Product Quantity  Price
0                       Snickers Chocolate    18 gm   ৳ 20
1                       Snickers Chocolate    50 gm   ৳ 55
2             Cadbury Dairy Milk Chocolate  25.3 gm   ৳ 40
3                      Fresh Chocolate Bar  15.5 gm   ৳ 10
4  Cadbury Dairy Milk Silk Plain Chocolate    60 gm  ৳ 130

In [22]:
df5.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-candy.csv', index=False)

# Dataframe for local snacks

In [2]:
baseurl6 = 'https://chaldal.com/local-snacks'
r6 = requests.get(baseurl6)
soup6 = bs(r6.content, 'lxml')
products6 = soup6.find_all('div', class_='product')

In [3]:
product6 = []
amount6 = []
price6 = []

for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price6.append(j.text)

In [4]:
productlist6 = {'Product':product6, 'Quantity':amount6, 'Price':price6}
df6 = pd.DataFrame(productlist6)
df6.head()

                       Product Quantity  Price
0      PRAN Puffed Rice (Muri)   500 gm   ৳ 60
1      Bombay Sweets Jhal Muri    30 gm   ৳ 10
2      Bombay Sweets Chanachur   600 gm  ৳ 100
3      Bombay Sweets Chanachur   150 gm   ৳ 30
4  PRAN Flattened Rice (chira)   500 gm   ৳ 60

In [5]:
df6.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-local-snacks.csv', index=False)

# Dataframe for popcorn

In [6]:
baseurl7 = 'https://chaldal.com/popcorn-nuts'
r7 = requests.get(baseurl7)
soup7 = bs(r7.content, 'lxml')
products7 = soup7.find_all('div', class_='product')

In [7]:
product7 = []
amount7 = []
price7 = []

for item in products7:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product7.append(j.text)
            
for item in products7:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount7.append(j.text)
            
for item in products7:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price7.append(j.text)

In [8]:
productlist7 = {'Product':product7, 'Quantity':amount7, 'Price':price7}
df7 = pd.DataFrame(productlist7)
df7.head()

                           Product Quantity  Price
0  Peanut Raw (Kacha Cheena Badam)   100 gm   ৳ 30
1                 Walnuts (Akhrot)   100 gm  ৳ 139
2   Tong Garden Salted Cashew Nuts    40 gm  ৳ 125
3          Tong Garden Party Snack    25 gm   ৳ 30
4    Fit Food Honey Roasted Almond   135 gm  ৳ 230

In [9]:
df7.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-popcorn.csv', index=False)

# Dataframe for biscuits

In [10]:
baseurl8 = 'https://chaldal.com/biscuits'
r8 = requests.get(baseurl8)
soup8 = bs(r8.content, 'lxml')
products8 = soup8.find_all('div', class_='product')

In [11]:
product8 = []
amount8 = []
price8 = []

for item in products8:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product8.append(j.text)
            
for item in products8:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount8.append(j.text)
            
for item in products8:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price8.append(j.text)

In [12]:
productlist8 = {'Product':product8, 'Quantity':amount8, 'Price':price8}
df8 = pd.DataFrame(productlist8)
df8.head()

                                         Product Quantity  Price
0       Cocola Champion Chocolate Cream Biscuits    75 gm   ৳ 15
1            Olympic Premium Energy Plus Biscuit    80 gm   ৳ 13
2  Danish Lexus Vegetable Crackers (Buy 2 Get 1)   240 gm  ৳ 200
3        Bisk Club Potata Spicy Flavored Biscuit   100 gm   ৳ 25
4               Olympic Pineapple Cream Biscuits    68 gm   ৳ 10

In [13]:
df8.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-biscuits.csv', index=False)

# Dataframe for salad dressing

In [14]:
baseurl9 = 'https://chaldal.com/salad-dressing'
r9 = requests.get(baseurl9)
soup9 = bs(r9.content, 'lxml')
products9 = soup9.find_all('div', class_='product')

In [15]:
product9 = []
amount9 = []
price9 = []

for item in products9:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product9.append(j.text)
            
for item in products9:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount9.append(j.text)
            
for item in products9:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price9.append(j.text)

In [16]:
productlist9 = {'Product':product9, 'Quantity':amount9, 'Price':price9}
df9 = pd.DataFrame(productlist9)
df9.head()

                             Product Quantity  Price
0                 PRAN White Vinegar   650 ml   ৳ 55
1          Heinz Apple Cider Vinegar   473 ml  ৳ 200
2  Bragg Organic Apple Cider Vinegar   946 ml  ৳ 999
3  Bragg Organic Apple Cider Vinegar   473 ml  ৳ 529
4                Ahmed White Vinegar   325 ml   ৳ 50

In [17]:
df9.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-salad-dressing.csv', index=False)

# Dataframe for sauces

In [19]:
baseurl10 = 'https://chaldal.com/sauces'
r10 = requests.get(baseurl10)
soup10 = bs(r10.content, 'lxml')
products10 = soup10.find_all('div', class_='product')

In [20]:
product10 = []
amount10 = []
price10 = []

for item in products10:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product10.append(j.text)
            
for item in products10:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount10.append(j.text)
            
for item in products10:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price10.append(j.text)

In [21]:
productlist10 = {'Product':product10, 'Quantity':amount10, 'Price':price10}
df10 = pd.DataFrame(productlist10)
df10.head()

                 Product Quantity  Price
0  PRAN Hot Tomato Sauce   340 gm   ৳ 90
1       Ahmed Soya Sauce   500 ml  ৳ 110
2   Heinz Tomato Ketchup   300 gm  ৳ 135
3        Pran Soya Sauce   300 ml   ৳ 70
4      Heinz Chili Sauce   300 gm  ৳ 140

In [22]:
df10.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-sauces.csv', index=False)