In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Dataframe for spices

In [3]:
baseurl = 'https://chaldal.com/spices'
r = requests.get(baseurl)
soup = bs(r.content, 'lxml')
products = soup.find_all('div', class_='product')

In [4]:
product = []
amount = []
price = []

for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price.append(j.text)

In [5]:
productlist = {'Product':product, 'Quantity':amount, 'Price':price}
df = pd.DataFrame(productlist)
df.head()

                           Product Quantity  Price
0                Cumin Seed (Jira)   100 gm   ৳ 50
1             Cinnamon (Daruchini)   100 gm   ৳ 49
2  Radhuni Turmeric Powder (Holud)   200 gm   ৳ 90
3    Radhuni Chili (Morich) Powder   200 gm  ৳ 100
4    Dried Chilies (Shukna Morich)   100 gm   ৳ 39

In [6]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-spices.csv', index=False)

# Dataframe for oil

In [7]:
baseurl2 = 'https://chaldal.com/oil'
r2 = requests.get(baseurl2)
soup2 = bs(r2.content, 'lxml')
products2 = soup2.find_all('div', class_='product')

In [8]:
product2 = []
amount2 = []
price2 = []

for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price2.append(j.text)

In [9]:
productlist2 = {'Product':product2, 'Quantity':amount2, 'Price':price2}
df2 = pd.DataFrame(productlist2)
df2.head()

                         Product Quantity  Price
0             Fresh Soyabean Oil    5 ltr  ৳ 555
1         Rupchanda Soyabean Oil    5 ltr  ৳ 570
2         Rupchanda Soyabean Oil    2 ltr  ৳ 234
3  Rupchanda Soyabean Oil (poly)    1 ltr  ৳ 113
4             Fresh Soyabean Oil    2 ltr  ৳ 228

In [10]:
df2.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-oil.csv', index=False)

# Dataframe for ghee

In [11]:
baseurl3 = 'https://chaldal.com/ghee'
r3 = requests.get(baseurl3)
soup3 = bs(r3.content, 'lxml')
products3 = soup3.find_all('div', class_='product')

In [12]:
product3 = []
amount3 = []
price3 = []

for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price3.append(j.text)

In [13]:
productlist3 = {'Product':product3, 'Quantity':amount3, 'Price':price3}
df3 = pd.DataFrame(productlist3)
df3.head()

                  Product Quantity  Price
0  Aarong Dairy Pure Ghee   400 gm  ৳ 520
1     Danish Premium Ghee   400 gm  ৳ 525
2        SUN Premium Ghee   200 gm  ৳ 260
3         Khaas Food Ghee   300 gm  ৳ 480
4          Milk Vita Ghee   400 gm  ৳ 500

In [14]:
df3.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-ghee.csv', index=False)

# Dataframe for ready mixes

In [18]:
baseurl4 = 'https://chaldal.com/ready-mix'
r4 = requests.get(baseurl4)
soup4 = bs(r4.content, 'lxml')
products4 = soup4.find_all('div', class_='product')

In [19]:
product4 = []
amount4 = []
price4 = []

for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price4.append(j.text)

In [20]:
productlist4 = {'Product':product4, 'Quantity':amount4, 'Price':price4}
df4 = pd.DataFrame(productlist4)
df4.head()

                   Product Quantity Price
0   Radhuni Biryani Masala    40 gm  ৳ 55
1   Radhuni Chicken Masala    20 gm  ৳ 15
2  Radhuni Chatpoti Masala    50 gm  ৳ 40
3        Radhuni Firni Mix   150 gm  ৳ 40
4       Radhuni Haleem Mix   200 gm  ৳ 45

In [21]:
df4.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-coffee.csv', index=False)

# Dataframe for salt & sugar

In [22]:
baseurl5 = 'https://chaldal.com/salt-sugar'
r5 = requests.get(baseurl5)
soup5 = bs(r5.content, 'lxml')
products5 = soup5.find_all('div', class_='product')

In [23]:
product5 = []
amount5 = []
price5 = []

for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price5.append(j.text)

In [24]:
productlist5 = {'Product':product5, 'Quantity':amount5, 'Price':price5}
df5 = pd.DataFrame(productlist5)
df5.head()

                             Product Quantity Price
0                Fresh Refined Sugar     1 kg  ৳ 70
1          Akher Chini (Deshi Sugar)     1 kg  ৳ 70
2                      ACI Pure Salt     1 kg  ৳ 35
3  Fresh Super Premium (Vacuum) Salt     1 kg  ৳ 35
4                Fresh Refined Sugar   500 gm  ৳ 36

In [25]:
df5.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-salt-sugar.csv', index=False)

# Dataframe for shemai

In [26]:
baseurl6 = 'https://chaldal.com/shemai-suji'
r6 = requests.get(baseurl6)
soup6 = bs(r6.content, 'lxml')
products6 = soup6.find_all('div', class_='product')

In [27]:
product6 = []
amount6 = []
price6 = []

for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price6.append(j.text)

In [28]:
productlist6 = {'Product':product6, 'Quantity':amount6, 'Price':price6}
df6 = pd.DataFrame(productlist6)
df6.head()

                    Product Quantity Price
0  Cock Vermicelli (Shemai)   200 gm  ৳ 35
1                 Ifad Suji   500 gm  ৳ 30
2      Kolson Laccha Shemai   200 gm  ৳ 35
3             ACI Pure Suji   500 gm  ৳ 30
4        Teer Semolina Suji   500 gm  ৳ 30

In [29]:
df6.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-shemai.csv', index=False)