In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Dataframe for local breakfast

In [2]:
baseurl = 'https://chaldal.com/local-breakfast'
r = requests.get(baseurl)
soup = bs(r.content, 'lxml')
products = soup.find_all('div', class_='product')

In [3]:
product = []
amount = []
price = []

for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount.append(j.text)
            
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price.append(j.text)

In [4]:
productlist = {'Product':product, 'Quantity':amount, 'Price':price}
df = pd.DataFrame(productlist)
df.head()

                                     Product Quantity  Price
0                                White Bread   500 gm   ৳ 75
1  Golden Harvest Frozen Paratha Family Pack   20 pcs  ৳ 250
2                    PRAN Puffed Rice (Muri)   500 gm   ৳ 60
3            Cocola Chocolate Wafer Roll Jar   280 gm   ৳ 60
4                        Special Brown Bread   300 gm  ৳ 105

In [5]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-bread-rice.csv', index=False)

# Dataframe for energy boosters

In [6]:
baseurl2 = 'https://chaldal.com/energy-boosters'
r2 = requests.get(baseurl2)
soup2 = bs(r2.content, 'lxml')
products2 = soup2.find_all('div', class_='product')

In [7]:
product2 = []
amount2 = []
price2 = []

for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price2.append(j.text)

In [8]:
productlist2 = {'Product':product2, 'Quantity':amount2, 'Price':price2}
df2 = pd.DataFrame(productlist2)
df2.head()

                               Product Quantity  Price
0                    Complan Chocolate   350 gm  ৳ 385
1         Purnava Omega 3 Enriched Egg   12 pcs  ৳ 220
2                Purnava Vitamin E Egg   12 pcs  ৳ 160
3                Horlicks Standard Jar   500 gm  ৳ 350
4  Ovaltine Malted Chocolate Drink Jar   400 gm  ৳ 395

In [9]:
df2.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-energy-boosters.csv', index=False)

# Dataframe for cereals

In [10]:
baseurl3 = 'https://chaldal.com/cereals'
r3 = requests.get(baseurl3)
soup3 = bs(r3.content, 'lxml')
products3 = soup3.find_all('div', class_='product')

In [11]:
product3 = []
amount3 = []
price3 = []

for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price3.append(j.text)

In [12]:
productlist3 = {'Product':product3, 'Quantity':amount3, 'Price':price3}
df3 = pd.DataFrame(productlist3)
df3.head()

                                           Product Quantity  Price
0                                 Quaker Oats Poly   500 gm  ৳ 265
1          Nestlé Corn Flakes Breakfast Cereal Box   275 gm  ৳ 330
2                            Quaker Oats Australia     1 kg  ৳ 575
3        Nestlé Koko Krunch Chocolate Cereal Pouch    80 gm   ৳ 85
4  Kellogg's Corn Flakes Original Breakfast Cereal   475 gm  ৳ 385

In [13]:
df3.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-cereals.csv', index=False)

# Dataframe for jam and spreads

In [14]:
baseurl4 = 'https://chaldal.com/dips-spreads'
r4 = requests.get(baseurl4)
soup4 = bs(r4.content, 'lxml')
products4 = soup4.find_all('div', class_='product')

In [15]:
product4 = []
amount4 = []
price4 = []

for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price4.append(j.text)

In [16]:
productlist4 = {'Product':product4, 'Quantity':amount4, 'Price':price4}
df4 = pd.DataFrame(productlist4)
df4.head()

                                 Product Quantity  Price
0  Nutella Hazelnut Ferrero Cocoa Spread   350 gm  ৳ 520
1            Farm Fresh Butter (50 gm*4)   200 gm  ৳ 184
2           Nocilla Two Colour Chocolate   200 gm  ৳ 275
3                      Herman Mayonnaise   236 gm  ৳ 135
4              Hershey's Chocolate Syrup   680 gm  ৳ 429

In [17]:
df4.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-jams.csv', index=False)