In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chaldal-final-dataset.csv')
df.head()

                                           Product Quantity  Price  Category
0                 Ispahani Mirzapore Best Leaf Tea   400 gm  ৳ 210  Beverage
1  Brooke Bond Taaza Black Tea (Jar Free) 400 gm*2      NaN  ৳ 398  Beverage
2                      Brooke Bond Taaza Black Tea   400 gm  ৳ 199  Beverage
3                       Ispahani Mirzapore Tea Bag   50 pcs   ৳ 90  Beverage
4                 Ispahani Mirzapore Best Leaf Tea   200 gm  ৳ 110  Beverage

In [3]:
df.dtypes

Product     object
Quantity    object
Price       object
Category    object
dtype: object

In [4]:
df['Price'] = df['Price'].replace({'\৳': '', ',': ''}, regex=True)
df['Price'] = pd.to_numeric(df['Price'])

In [5]:
df.head()

                                           Product Quantity  Price  Category
0                 Ispahani Mirzapore Best Leaf Tea   400 gm    210  Beverage
1  Brooke Bond Taaza Black Tea (Jar Free) 400 gm*2      NaN    398  Beverage
2                      Brooke Bond Taaza Black Tea   400 gm    199  Beverage
3                       Ispahani Mirzapore Tea Bag   50 pcs     90  Beverage
4                 Ispahani Mirzapore Best Leaf Tea   200 gm    110  Beverage

In [6]:
df.dtypes

Product     object
Quantity    object
Price        int64
Category    object
dtype: object

In [7]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\grocery-store-web-scraping\chaldal\chaldal-dataset.csv', index=False)