In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Dataframe for soft drinks

In [2]:
baseurl = 'https://chaldal.com/soft-drinks'

In [3]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0'}

In [4]:
r = requests.get(baseurl)
soup = bs(r.content, 'lxml')

In [5]:
products = soup.find_all('div', class_='product')

In [6]:
product = []
amount = []
price = []

for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product.append(j.text)

In [7]:
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount.append(j.text)

In [8]:
for item in products:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price.append(j.text)

In [9]:
productlist = {'Product':product, 'Quantity':amount, 'Price':price}

In [10]:
df = pd.DataFrame(productlist)
df.head()

          Product  Quantity Price
0  Pepsi Diet Pet    500 ml  ৳ 35
1       Coca-Cola    600 ml  ৳ 40
2       Coca-Cola  1.25 ltr  ৳ 70
3  Coke Light Can    250 ml  ৳ 40
4   Coca-Cola Can    250 ml  ৳ 40

In [12]:
df.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-soft-drinks.csv', index=False)

# Dataframe for juices

In [1]:
baseurl2 = 'https://chaldal.com/juice'

In [4]:
r2 = requests.get(baseurl2)
soup2 = bs(r2.content, 'lxml')

In [5]:
products2 = soup2.find_all('div', class_='product')

In [6]:
product2 = []
amount2 = []
price2 = []

for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product2.append(j.text)

In [7]:
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount2.append(j.text)
            
for item in products2:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price2.append(j.text)

In [8]:
productlist2 = {'Product':product2, 'Quantity':amount2, 'Price':price2}
df2 = pd.DataFrame(productlist2)
df2.head()

                        Product Quantity  Price
0            Shezan Mango Juice   250 ml   ৳ 20
1    Latina 100 % Juice (Apple)    1 ltr  ৳ 200
2   Latina 100 % Juice (Orange)    1 ltr  ৳ 200
3   Pran Drinko Pineapple Juice   250 ml   ৳ 25
4  Amul Pinacolada Mocktail Can   200 ml  ৳ 125

In [9]:
df2.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-juice.csv', index=False)

# Dataframe for tea

In [10]:
baseurl3 = 'https://chaldal.com/tea-coffee'
r3 = requests.get(baseurl3)
soup3 = bs(r3.content, 'lxml')
products3 = soup3.find_all('div', class_='product')

In [11]:
product3 = []
amount3 = []
price3 = []

for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount3.append(j.text)
            
for item in products3:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price3.append(j.text)

In [12]:
productlist3 = {'Product':product3, 'Quantity':amount3, 'Price':price3}
df3 = pd.DataFrame(productlist3)
df3.head()

                                           Product Quantity  Price
0                 Ispahani Mirzapore Best Leaf Tea   400 gm  ৳ 210
1  Brooke Bond Taaza Black Tea (Jar Free) 400 gm*2           ৳ 398
2                      Brooke Bond Taaza Black Tea   400 gm  ৳ 199
3                       Ispahani Mirzapore Tea Bag   50 pcs   ৳ 90
4                 Ispahani Mirzapore Best Leaf Tea   200 gm  ৳ 110

In [13]:
df3.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-tea.csv', index=False)

# Dataframe for coffee

In [14]:
baseurl4 = 'https://chaldal.com/coffee-2'
r4 = requests.get(baseurl4)
soup4 = bs(r4.content, 'lxml')
products4 = soup4.find_all('div', class_='product')

In [15]:
product4 = []
amount4 = []
price4 = []

for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount4.append(j.text)
            
for item in products4:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price4.append(j.text)

In [16]:
productlist4 = {'Product':product4, 'Quantity':amount4, 'Price':price4}
df4 = pd.DataFrame(productlist4)
df4.head()

                                             Product Quantity  Price
0                     Tora Bika Cappuccino (25 gm*6)    6 pcs  ৳ 150
1          Nestlé Nescafé Classic Instant Coffee Jar    50 gm  ৳ 165
2        Nestlé NESCAFE 3 in 1 Coffee Mix (15 gm*12)   12 pcs  ৳ 120
3          Nestlé Nescafé Classic Instant Coffee Jar   200 gm  ৳ 495
4  Nestlé Nescafe Classic Pouch Pack (Tin Contain...   200 gm  ৳ 350

In [17]:
df4.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-coffee.csv', index=False)

# Dataframe for water

In [21]:
baseurl5 = 'https://chaldal.com/water'
r5 = requests.get(baseurl5)
soup5 = bs(r5.content, 'lxml')
products5 = soup5.find_all('div', class_='product')

In [22]:
product5 = []
amount5 = []
price5 = []

for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount5.append(j.text)
            
for item in products5:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price5.append(j.text)

In [23]:
productlist5 = {'Product':product5, 'Quantity':amount5, 'Price':price5}
df5 = pd.DataFrame(productlist5)
df5.head()

                        Product  Quantity    Price
0    Super Fresh Drinking Water     2 ltr     ৳ 30
1            Mum Drinking Water     2 ltr     ৳ 30
2            Mum Drinking Water     5 ltr     ৳ 75
3       Aquafina Drinking Water   1.5 ltr     ৳ 25
4  Pureit Classic Germ Kill Kit  3000 ltr  ৳ 1,200

In [24]:
df5.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-water.csv', index=False)

# Dataframe for syrups & powder drinks

In [25]:
baseurl6 = 'https://chaldal.com/powder-mixes'
r6 = requests.get(baseurl6)
soup6 = bs(r6.content, 'lxml')
products6 = soup6.find_all('div', class_='product')

In [26]:
product6 = []
amount6 = []
price6 = []

for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='name'):
            product6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='subText'):
            amount6.append(j.text)
            
for item in products6:
    for i in item.find_all('div', class_='imageWrapper'):
        for j in i.find_all('div', class_='price'):
            price6.append(j.text)

In [27]:
productlist6 = {'Product':product6, 'Quantity':amount6, 'Price':price6}
df6 = pd.DataFrame(productlist6)
df6.head()

                               Product Quantity  Price
0  Ovaltine Malted Chocolate Drink Jar   400 gm  ৳ 395
1      Tang Mango Powder (Buy 1 Get 1)   500 gm  ৳ 315
2               Chocolate Horlicks Jar   500 gm  ৳ 350
3                Horlicks Standard Jar  1000 gm  ৳ 645
4                Horlicks Standard Jar   250 gm  ৳ 190

In [28]:
df6.to_csv(r'C:\Users\Arnob\Desktop\DataScience\chaldal-web-scraping\chaldal-powder-drinks.csv', index=False)